:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --bg-color: #ffffff;
  --primary-bg-color: #f5f4fa;
  --bg-color-black: #2f303a;
  --rgb-footer: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.logo-black {
  color: var(--title-text-color);
}

.logo-white {
  color: var(--white-color);
}

p {
  color: var(--primary-text-color);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--white-color);
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

img {
  display: block;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-list__item + .social-list__item {
  display: block;
  margin-left: 10px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--bg-color);
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  display: block;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .site-nav__link:hover,
.site-nav .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav .site-nav__item + .site-nav__item {
  display: block;
  margin-left: 50px;
}

.site-nav__link.current {
  color: var(--accent-color);
}
.site-nav__link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact .contact__item + .contact__item {
  display: block;
  margin-left: 50px;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.contact__item {
  display: flex;
  align-items: center;
}

.contact__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: var(--accent-color);
}

.hero {
  text-align: center;
  color: var(--white-color);
  letter-spacing: 0.06em;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 0;
  padding-left: 252px;
  padding-right: 252px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-studio/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--white-color);
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

.feature__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.feature__list .feature__item + .feature__item {
  display: block;
  margin-left: 30px;
}

.feature__item {
  margin-top: 0;
  margin-bottom: 0;
  flex-basis: 270px;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.feature__thumb {
  padding: 0;
  width: 270px;
  height: 120px;
  background-color: var(--primary-bg-color);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__icon {
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  border: 0;
}

.about {
  padding-top: 0px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
}
.about__list .about__item + .about__item {
  margin-left: 30px;
}

.about__thumb {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about__text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bg-color);
}

.team__item {
  max-width: 270px;
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  margin-bottom: 16px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.19;
}

.team__paragraph {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__list {
  display: flex;
}

.team__list .team__item + .team__item {
  display: block;
  margin-left: 30px;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__list .clients__item + .clients__item {
  display: block;
  margin-left: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--bg-color-black);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-bottom: 9px;
}

.contact-address .mail {
  margin-bottom: 9px;
}

.logo-footer {
  margin-bottom: 20px;
  display: block;
}

.address,
.contact-address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}

.contact-address .link {
  color: var(--rgb-footer);
  display: block;
}

.footer-title {
  display: block;
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: var(--bg-color);
  margin-bottom: 20px;
  margin-top: 0px;
}

.footer-container {
  display: flex;
}

.footer-social {
  padding: 0px;
  border: none;
  margin-left: 70px;
  margin-top: 12px;
}

.footer-social__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: var(--bg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__icon:hover, .footer-social__icon:focus {
  fill: var(--bg-color);
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: var(--bg-color-black);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  color: var(--white-color);
}
.footer-form-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  vertical-align: center;
  letter-spacing: 0.03;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  vertical-align: center;
  letter-spacing: 0.03;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  vertical-align: center;
  letter-spacing: 0.03;
  color: rgba(255, 255, 255, 0.6);
}

.send-icon {
  width: 24px;
  height: 24px;
  fill: var(--bg-color);
  margin-left: 10px;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.footer-subscription {
  padding: 0px;
  border: none;
  margin-left: 93px;
  margin-top: 12px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter .link:hover, .filter .link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.21);
}

.filter .item + .item {
  margin-left: 8px;
}

.button-filter {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: #eeeeee;
  padding: 6px 22px;
}

.project-img {
  display: block;
  margin: 0;
  padding: 0;
}

.project-title {
  margin-bottom: 4px;
  margin-top: 0px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.87;
}

.project-paragraph {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:hover {
  box-shadow: 0px 1px 1px px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-item:hover .description-text {
  transform: translateY(0);
}

.project-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.description-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  padding: 63px 24px;
  margin: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--bg-color);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-btn:hover .close-icon, .modal-btn:focus .close-icon {
  fill: var(--accent-color);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  font-family: Roboto;
  font-style: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

textarea {
  display: block;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.form {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  outline: none;
}

.form-field textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.01;
  color: #757575;
  margin-bottom: 4px;
}

.form-field textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.01;
  color: #757575;
  margin-bottom: 4px;
}

.form-field label,
.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.01;
  color: #757575;
  margin-bottom: 4px;
}

.form-field .form-input {
  height: 40px;
  margin: 0;
  padding: 12px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field .policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03;
  color: #757575;
}

.policy-link {
  color: #2196f3;
}

.submit .button {
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
}

.submit .button {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.21);
}

.icon-black {
  position: absolute;
  top: 30px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .icon-black {
  fill: var(--accent-color);
}

.form-field:focus-within .form-input {
  border: 1px solid var(--accent-color);
}

.checkbox:checked ~ .checkbox-icon .icon-checkbox {
  background-color: var(--accent-color);
  border-radius: 2px;
  background-size: contain;
  background-origin: padding-box;
  border-color: var(--accent-color);
}

.icon-checkbox {
  display: block;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
}/*# sourceMappingURL=main.css.map */