.main-nav .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo {
  display: block;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
