.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bg-color);
}

.team__item {
  max-width: 270px;
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__title {
  margin-top: 0;
  margin-bottom: 50px;
}
.team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__text {
  margin-bottom: 16px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.19;
}
.team__paragraph {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__list {
  display: flex;
}

.team__list .team__item + .team__item {
  display: block;
  margin-left: 30px;
}
